#Server
PORT=''

#MercadoPago
MP_ACCESS_TOKEN=''
MP_WEBHOOK_SECRET=''

#UI
FRONTEND_URL=''
CALLBACK_CHECKOUT_SUCCESS_URL=''
CALLBACK_CHECKOUT_FAILED_URL=''

#Database
MONGO_URI=''

#Environment
ENV=''

#Gatewats
PAYMENT_GATEWAY=''