#Server
PORT='8080'

#MercadoPago
MP_ACCESS_TOKEN=''
MP_WEBHOOK_SECRET=''

#UI
FRONTEND_URL=''
CALLBACK_CHECKOUT_SUCCESS_URL=''
CALLBACK_CHECKOUT_FAILED_URL=''

#Database
MONGO_URI=''

#Environment
ENV='DEV'

#Gatewats
PAYMENT_GATEWAY='mercado-pago'